/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.home-section {
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-section .text {
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px;
    text-align: center;
}