/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.home-section .registration-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.home-section .registration-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.home-section .registration-box form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.home-section .registration-box form button {
    background: #11101D;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    /* Makes the button a block-level element */
    margin-top: 10px;
    /* Adds space between the password input and the button */
}

.home-section .registration-box p {
    margin-top: 10px;
}

.home-section .registration-box p a {
    color: #11101D;
    text-decoration: underline;
}

.home-section .registration-box p a:hover {
    color: #1d1b31;
}

@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}